section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-size: 2rem;
            color: #ffffff;
            z-index: 100;
            text-decoration: none;
            text-shadow: 2px 2px 0 rgba($color: #333, $alpha: 0.7);
            transition: 0.5s;
            font-weight: 700;
        }
        .toggle {
            position: relative;
            width: 40px;
            height: 40px;
            background: url("../icons/menu.png") center center/cover no-repeat;
            cursor: pointer;
            background-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
            transition: all 0.5s;
            &::before {
                content: "Menu";
                position: absolute;
                right: 45px;
                text-transform: uppercase;
                color: #ffffff;
                letter-spacing: 2px;
                font-size: 1.4rem;
                padding: 2px 5px;
                background: #fff;
                color: #111;
                transition: all 0.5s;
            }
        }
        .toggle.active {
            background: url("../icons/close.png") center center/cover no-repeat;
            background-size: 25px;
            transition: all 0.5s;
            &::before {
                content: "close";
                text-transform: uppercase;
                transition: all 0.5s;
            }
        }
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .glass {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        z-index: 1;
        backdrop-filter: blur(10px);
        box-shadow: 10px 0 15px rgba($color: #000000, $alpha: 0.1);
        transition: 1s;
    }
}
section.active .glass {
    width: 100%;
    backdrop-filter: blur(15px);
}
